.services-container .service-card {
  border: solid 1px var(--main-color);
  backdrop-filter: blur(1px);
  padding: 20px;
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--main-color) 5%, transparent);
  position: relative;
  overflow: hidden;
}

.services-container .service-card::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -30px;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    circle,
    color-mix(in srgb, var(--main-color) 14%, transparent),
    transparent
  );
  border-radius: 50%;
  transition: 0.4s;
}
.services-container .service-card:hover::before {
  transform: scale(1.5);
}
.services-container .service-card:hover {
  background-color: color-mix(in srgb, var(--main-color) 9%, transparent);
}

.services-container .service-card .icon {
  font-size: 25px;
  color: var(--main-color);
  background-color: color-mix(in srgb, var(--main-color) 10%, transparent);
  border: solid 1px var(--main-color);
  padding: 10px;
  border-radius: 6px;
}
.services-container .service-card h2 {
  text-transform: capitalize;
  font-size: 19px;
}
.services-container .service-card p {
  opacity: 0.8;
  line-height: 1.5;
}
.services-container .service-card .tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.services-container .service-card .tags span {
  color: var(--main-color);
  background-color: color-mix(in srgb, var(--main-color) 13%, transparent);
  border: solid 1px var(--main-color);
  padding: 2px 8px;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 13px;
}
