.view-title {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.card-view {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card-view .main-view-section {
  flex: 400px 10;
}
.card-view .view-cover {
  min-height: 300px;
  max-height: 500px;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  background: var(--body-color);
  margin-bottom: 10px;
  display: flex;
}
.card-view .view-cover img {
  width: 100%;
  object-fit: cover;
}

.card-view .view-sidebar {
  flex: 300px;
}

.view-sidebar .view-info {
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.view-sidebar .view-info article {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 13px;
}

.view-sidebar .view-info article:not(:last-of-type) {
  border-bottom: solid 1px var(--border-color);
  padding-bottom: 3px;
}

.view-sidebar .view-info article .key {
  opacity: 0.6;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}
.view-sidebar .view-info article .value {
  font-weight: 600;
}

.more-results {
  margin-block: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}
.more-results::after,
.more-results::before {
  content: "";
  flex: 1;
  background-color: var(--border-color);
  height: 2px;
}

.posts-search {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 10px;
  position: relative;
}
.posts-search .posts-search-inp {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--body-color);
  border-radius: 20px;
  padding: 8px 15px;
  flex: 1;
  border: solid 1px var(--border-color);
}
.posts-search .posts-search-inp input {
  background-color: transparent;
  border: none;
  flex: 1;
  color: var(--font-color);
}
.posts-search .posts-search-inp svg {
  opacity: 0.7;
}
.posts-search .sort {
  padding: 7px 15px;
  background-color: var(--body-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  text-transform: capitalize;
}

.posts-search .sort span {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.posts-search .sort svg {
  font-size: 85%;
}
.posts-search .sort-options {
  position: absolute;
  top: calc(100% + 2px);
  background-color: var(--body-color);
  z-index: 3;
  border-radius: 6px;
  min-width: 100px;
  border: solid 1px var(--border-color);
  transition: fadeIn 0.4s;
}

.posts-search .sort-options p {
  padding: 2px 10px;
  cursor: pointer;
  text-transform: capitalize;
  border-bottom: solid 1px var(--border-color);
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  font-size: 14px;
}

.posts-search .sort-options p:hover,
.posts-search .sort-options p.active {
  background-color: var(--section-color);
}
.posts-search .sort-options p.active::after {
  content: "✓";
}

.categories-filter {
  display: flex;
  gap: 10px;
  overflow: auto;
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.categories-filter::-webkit-scrollbar {
  height: 5px;
}
.categories-filter button {
  background-color: color-mix(in srgb, var(--main-color) 5%, transparent);
  color: var(--main-color);
  border: solid 1px var(--main-color);
  text-transform: capitalize;
  padding: 8px 15px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  white-space: nowrap;
}

.categories-filter button:hover,
.categories-filter button.active {
  background-color: var(--main-color);
  color: white;
}

.categories-filter button.active {
  font-weight: bold;
}

.post-results {
  text-transform: uppercase;
  display: flex;
  gap: 5px;
}
.post-results::before {
  content: attr(data-count);
  color: var(--main-color);
}

.no-results-yet {
  min-height: 200px;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--aside-color);
  margin-top: 10px;
  text-transform: uppercase;
}

.no-results-yet svg {
  color: var(--main-color);
  font-size: 50px;
}

.posts-search .posts-poup {
  width: 100%;
  max-width: 600px;
}
.posts-search .posts-poup .filters-container {
  flex-wrap: wrap;
}
.posts-search .posts-poup .filters-container:has(.options.active) {
  min-height: 300px;
}
.posts-search .posts-poup .filters-container .inp {
  flex: 200px;
}
