.grid-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-image:
    linear-gradient(
      color-mix(in oklab, var(--main-color) 8%, transparent) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      color-mix(in oklab, var(--main-color) 8%, transparent) 1px,
      transparent 1px
    );
  background-size: 60px 60px;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(1px);
}

#tsparticles {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: -0;
  z-index: -2;
}

.live-ticker {
  background: color-mix(in oklab, var(--main-color) 8%, transparent);
  border-block: 1px solid var(--main-color);
  padding: 10px 0;
  overflow: hidden;
  backdrop-filter: blur(1px);
}

.ticker-inner {
  display: flex;
  gap: 60px;
  animation: 20s linear infinite;
  animation-name: scroll-partners;
  white-space: nowrap;
}
[lang="ar"] .ticker-inner {
  animation-name: scroll-partners-ar;
}

.ticker-inner div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ticker-inner div span {
  opacity: 0.8;
}
.ticker-inner svg {
  color: var(--main-color);
}

@keyframes scroll-partners {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll-partners-ar {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}

.home-landing {
  min-height: calc(90vh - 75px);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.home-landing > section {
  flex: 400px;
}
.home-landing code {
  background-color: color-mix(in srgb, var(--aside-color) 35%, transparent);
  backdrop-filter: blur(2px);
  border: solid 3px var(--border-color);
  padding: 10px 20px 20px;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: color-mix(in srgb, var(--font-color) 70%, transparent);
  direction: ltr;
}
.home-landing code div {
  display: flex;
  gap: 10px;
}
.home-landing code section {
  padding-left: 20px;
}
.home-landing code .circle-actions {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.home-landing .code-container {
  counter-reset: columns;
}

.home-landing .code-container > div::before {
  counter-increment: columns;
  content: counter(columns);
  opacity: 0.4;
}

.home-landing h1 {
  text-transform: uppercase;
  font-size: 35px;
  max-width: 80%;
  line-height: 1.5;
}

.home-landing h1 span {
  color: var(--main-color);
}

.home-landing .typing-text {
  font-size: 25px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-color);
}
.home-landing .typing-text::after {
  -webkit-text-stroke-color: var(--hover-2);
}
.home-landing p {
  opacity: 0.7;
  margin-block: 10px 20px;
  max-width: 90%;
}
.home-landing .btns {
  display: flex;
  gap: 10px;
}

.home-contact {
  border: solid 1px var(--main-color);
  backdrop-filter: blur(2px);
  background-color: color-mix(in srgb, var(--main-color) 25%, transparent);
  border-radius: 50px;
  padding: 25px;
  position: relative;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-contact h1 {
  font-size: 35px;
  text-transform: capitalize;
}
.home-contact p {
  max-width: 600px;
  font-size: 18px;
  opacity: 0.8;
}
.home-contact .btns {
  margin-top: 20px;
}

.home-contact::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.048);
  top: 0;
  z-index: -1;
  transform: skewX(-20deg);
  backdrop-filter: blur(10px);
  transition: 0.4s;
  left: 100%;
}
.home-contact::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.048);
  top: 0;
  z-index: -1;
  transform: skewX(-20deg);
  right: 100%;
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

.home-contact:hover::before {
  left: -50px;
}

.home-contact:hover::after {
  right: -50px;
}

.about-page {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
}
.about-page section {
  flex: 350px;
}
.about-page section img {
  max-height: 350px;
  object-fit: contain;
  width: 100%;
}
.about-page section h2 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}
.about-page section h2::before {
  content: "";
  width: 7px;
  height: 7px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.about-page section p {
  opacity: 0.7;
  padding-inline: 15px;
}

@media (max-width: 1000px) {
  .home-landing > section {
    flex: 100%;
    text-align: center;
  }
  .home-landing .btns {
    justify-content: center;
  }
  .home-landing h1 {
    max-width: 100%;
    font-size: 30px;
  }
  .home-landing .typing-text {
    font-size: 22px;
  }
  .home-landing p {
    font-size: 15px;
    max-width: 100%;
  }
  .home-landing code {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  .ticker-inner div {
    font-size: 14px;
  }
  .ticker-inner {
    gap: 45px;
  }
  .about-page section h2 {
    font-size: 20px;
  }
  .about-page section p {
    font-size: 14px;
  }
  .about-page section img {
    max-height: 270px;
  }
  .home-contact h1 {
    font-size: 25px;
  }
  .home-contact p {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .live-ticker {
    padding: 8px 0;
  }
  .ticker-inner div {
    font-size: 13px;
  }
  .ticker-inner {
    gap: 40px;
  }
  .home-landing h1 {
    font-size: 24px;
  }
  .home-landing .typing-text {
    font-size: 19px;
  }
  .home-landing p {
    font-size: 13px;
  }
  .home-landing code {
    font-size: 14px;
    padding: 10px 14px 15px;
  }
  .home-landing code section {
    padding-left: 14px;
  }
  .home-landing code div {
    gap: 8px;
  }
  .home-landing code .circle-actions {
    width: 10px;
    height: 10px;
  }

  .about-page section h2 {
    font-size: 19px;
  }

  .about-page section img {
    max-height: 250px;
  }
  .home-contact h1 {
    font-size: 22px;
  }
  .home-contact p {
    font-size: 15px;
  }
  .home-contact:after,
  .home-contact::before {
    width: 35px;
  }
  .home-contact {
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .ticker-inner div {
    font-size: 12px;
  }
  .ticker-inner {
    gap: 20px;
  }

  .home-landing h1 {
    font-size: 21px;
  }
  .home-landing .typing-text {
    font-size: 17px;
  }
  .home-landing p {
    font-size: 13px;
  }
  .home-landing code {
    font-size: 13px;
    padding: 10px 10px 12px;
    border-width: 2px;
  }
  .home-landing code section {
    padding-left: 12px;
  }
  .home-landing code div {
    gap: 6px;
  }
  .home-landing code .circle-actions {
    width: 9px;
    height: 9px;
  }
  .about-page section h2 {
    font-size: 17px;
  }
  .about-page section p {
    font-size: 13px;
  }
  .about-page section img {
    max-height: 220px;
  }

  .home-contact h1 {
    font-size: 18px;
  }
  .home-contact p {
    font-size: 14px;
  }
  .home-contact:after,
  .home-contact::before {
    width: 35px;
  }
  .home-contact {
    padding: 10px;
    min-height: 250px;
  }
}
