:root {
  --dashboard-padding: 9%;
}
.dashboard-header .top-header {
  height: 55px;
  background-color: #2c3e50;
  display: flex;
  padding-inline: var(--dashboard-padding);
  align-items: center;
  justify-content: space-between;
  color: white;
}
.dashboard-header .top-header .logo {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  background-image: linear-gradient(to left, var(--main-color), #4f637e);
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #033575;
  font-weight: 900;
}

.dashboard-header .top-header .language-options {
  position: absolute;
  background-color: #253647;
  top: 100%;
  overflow: hidden;
  border-radius: 6px;
  animation: fadeIn 0.3s;
}
.dashboard-header .top-header .language-options p {
  line-height: 1.3;
  padding: 3px 8px;
  font-size: 15px;
  border-bottom: solid 1px #334557;
  cursor: pointer;
}
.dashboard-header .top-header .language-options p:hover,
.dashboard-header .top-header .language-options p.active {
  background-color: #334557;
}

.dashboard-header .top-header article {
  display: flex;
  gap: 10px;
}

.dashboard-header .bottom-header {
  height: 65px;
  background-color: var(--body-color);
  padding-inline: var(--dashboard-padding);
  display: flex;
}

.bottom-header .link {
  position: relative;
}

.bottom-header .link h2 {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  font-size: 17px;
  padding-inline: 15px;
  border-bottom: solid 2px transparent;
  cursor: pointer;
}
.bottom-header .link:hover h2,
.bottom-header .link.active h2,
.bottom-header .link:has(.active) h2 {
  border-color: var(--main-color);
  background-color: var(--section-color);
}

.bottom-header .link article {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--body-color);
  display: none;
  flex-direction: column;
  animation: fadeIn 0.3s;
  min-width: 100%;
  z-index: 4;
}
.bottom-header .link:hover article {
  display: flex;
}

.bottom-header .link article a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  padding: 5px 10px;
  white-space: nowrap;
  font-size: 14px;
  border-bottom: solid 1px var(--border-color);
}

.bottom-header .link article a:hover,
.bottom-header .link article a.active {
  background-color: var(--aside-color);
}
.dashboard-main {
  padding: 40px var(--dashboard-padding);
}

.dashboard-form {
  background-color: var(--body-color);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 10px 20px;
}

.dashboard-form.flex-form {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-form-container .submit-btn {
  justify-self: end;
}
.flex-form .upload-file {
  flex: 300px;
}

.dashboard-form-container .editor {
  min-height: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.dashboard-form-container .editor > div {
  display: flex;
  flex-direction: column;
  background-color: var(--section-color);
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
}
.dashboard-form-container .editor > div [data-pc-section="content"] {
  flex: 1;
  border-color: var(--border-color);
}
.dashboard-form-container .editor > div [data-pc-section="toolbar"] {
  border-color: var(--border-color);
  direction: ltr;
}

@media (max-width: 1000px) {
  :root {
    --dashboard-padding: 7%;
  }
  .dashboard-header .top-header .logo {
    font-size: 15px;
  }
  .bottom-header .link h2 {
    font-size: 16px;
    padding-inline: 12px;
    gap: 8px;
  }
  .bottom-header .link article a {
    font-size: 13px;
    padding: 4px 9px;
  }
  .dashboard-header .top-header .language-options p {
    padding: 2px 7px;
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  :root {
    --dashboard-padding: 6%;
  }
  .dashboard-header .top-header .logo {
    font-size: 14px;
  }
  .dashboard-header .top-header {
    height: 50px;
  }
  .dashboard-header .bottom-header {
    height: 60px;
  }
  .bottom-header .link h2 {
    font-size: 15px;
    padding-inline: 9px;
    gap: 6px;
  }
  .bottom-header .link article a {
    font-size: 12px;
    padding: 3px 8px;
    gap: 4px;
  }
  .dashboard-header .top-header .language-options p {
    padding: 2px 6px;
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  :root {
    --dashboard-padding: 5%;
  }
  .dashboard-header .top-header .logo {
    font-size: 12px;
  }
  .dashboard-header .top-header {
    height: 45px;
  }
  .dashboard-header .bottom-header {
    height: 50px;
  }
  .bottom-header .link h2 {
    font-size: 14px;
    padding-inline: 6px;
    gap: 4px;
  }
  .bottom-header .link article a {
    font-size: 11px;
    padding: 3px 6px;
    gap: 3px;
  }
  .dashboard-form {
    padding: 10px;
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .dashboard-header .top-header .language-options p {
    font-size: 11px;
    padding: 2px 5px;
  }
}
@media (max-width: 400px) {
  :root {
    --dashboard-padding: 3%;
  }
  .dashboard-header .top-header .logo {
    font-size: 11px;
  }
  .dashboard-header .top-header {
    height: 35px;
  }
  .dashboard-header .bottom-header {
    height: 40px;
  }
  .bottom-header .link h2 {
    font-size: 11px;
    padding-inline: 4px;
    border-bottom-width: 1.4px;
  }
  .bottom-header .link article a {
    font-size: 10px;
    padding: 2px 4px;
    gap: 2px;
  }
  .dashboard-header .top-header article svg {
    font-size: 12px;
  }
  .dashboard-header .top-header .language-options p {
    font-size: 10px;
    padding: 2px 4px;
  }
}
