.contact-page {
  display: flex;
  gap: 30px 40px;
  flex-wrap: wrap;
  background-color: var(--body-color);
}
.contact-page > section {
  flex: 300px;
}
.contact-page h2 {
  text-transform: capitalize;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact-page h2 svg {
  font-size: 80%;
  color: var(--main-color);
}
.contact-page .map .social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
}
.contact-page .map .social-links a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-page .map .social-links .icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  background-color: color-mix(in srgb, var(--main-color) 20%, transparent);
  border-radius: 50%;
  border: solid 1px color-mix(in srgb, var(--main-color) 30%, transparent);
}
.contact-page .map .social-links a:hover .icon {
  background-color: var(--main-color);
  color: white;
}
.contact-page .map .social-links .info {
  line-height: 1;
}
.contact-page .map .social-links .info h3 {
  text-transform: capitalize;
  font-size: 16px;
}

.contact-page .map .social-links .info span {
  display: block;
  font-size: 14px;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contact-page form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}
.contact-page form > div {
  flex: 100%;
}

@media (max-width: 1000px) {
  .contact-page h2 {
    font-size: 20px;
  }
  .contact-page {
    gap: 25px 30px;
  }
  .contact-page .map .social-links .icon {
    width: 32px;
    height: 32px;
  }
  .contact-page .map .social-links .info h3 {
    font-size: 15px;
  }
  .contact-page .map .social-links .info span {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .contact-page h2 {
    font-size: 18px;
  }
  .contact-page {
    gap: 10px 25px;
  }
  .contact-page .map .social-links .icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .contact-page .map .social-links .info h3 {
    font-size: 14px;
  }
  .contact-page .map .social-links .info span {
    font-size: 12px;
  }
  .contact-page .map .social-links {
    gap: 15px;
  }
}
@media (max-width: 600px) {
  .contact-page h2 {
    font-size: 16px;
  }

  .contact-page .map .social-links .icon {
    width: 29px;
    height: 29px;
    font-size: 14px;
  }
  .contact-page .map .social-links .info h3 {
    font-size: 13px;
  }
  .contact-page .map .social-links {
    gap: 10px;
  }
  .message-length {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .contact-page form {
    gap: 8px;
  }
  .contact-page h2 {
    font-size: 14px;
  }
  .contact-page .map .social-links .icon {
    width: 27px;
    height: 27px;
    font-size: 13px;
  }
  .contact-page .map .social-links .info h3 {
    font-size: 12px;
  }
  .contact-page .map .social-links .info span {
    font-size: 11px;
  }
  .message-length {
    font-size: 13px;
  }
}
