.home-footer {
  backdrop-filter: blur(2px);
  background-color: color-mix(in srgb, var(--main-color) 10%, transparent);
  position: relative;
  overflow: hidden;
  padding-block: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 10px;
  border-top: solid 1px color-mix(in srgb, var(--main-color) 60%, transparent);
}

.home-footer > div {
  flex: 300px;
}
.home-footer > div h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--main-color);
  font-size: 1.4vw;
}
.home-footer .company-section p {
  font-size: 0.9vw;
  opacity: 0.7;
}
.home-footer .company-section .links {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
}
.home-footer .company-section .links a {
  width: 32px;
  height: 32px;
  background-color: color-mix(in srgb, var(--main-color) 10%, transparent);
  border: solid 1px var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
}
.home-footer .company-section .links a:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}
.home-footer .company-section .links a svg {
  font-size: 14px;
}
.home-footer .quick-link .links {
  display: flex;
  flex-direction: column;
}
.home-footer .quick-link .links a {
  line-height: 1.4;
  opacity: 0.7;
  text-transform: capitalize;
}
.home-footer .quick-link .links a:hover {
  color: var(--main-color);
  opacity: 1;
  transform: translateX(5px);
}

.home-footer .company-info .links {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.home-footer .company-info .links .itm {
  opacity: 0.6;
  display: flex;
  align-items: center;
  gap: 5px;
}
.home-footer .company-info .links a.itm:hover {
  opacity: 1;
  color: var(--main-color);
}
.home-footer .footer-foot {
  flex: 100%;
  border-top: solid 1px color-mix(in srgb, var(--main-color) 50%, transparent);
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
}
.home-footer .footer-foot .links {
  display: flex;
  gap: 5px;
}
.home-footer .footer-foot :where(p, a) {
  opacity: 0.6;
  text-transform: capitalize;
}
.home-footer .footer-foot a:hover {
  color: var(--main-color);
  opacity: 1;
}
