.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  background-color: #222;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  z-index: 11;
}

.tooltip-container.top .tooltip-text {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-container.top:hover .tooltip-text {
  transform: translateX(-50%) translateY(-4px);
}

.tooltip-container.top .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #222 transparent transparent transparent;
}

.tooltip-container.bottom .tooltip-text {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-container.bottom:hover .tooltip-text {
  transform: translateX(-50%) translateY(4px);
}

.tooltip-container.bottom .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #222 transparent;
}

.tooltip-container.left .tooltip-text {
  right: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-container.left:hover .tooltip-text {
  transform: translateY(-50%) translateX(-4px);
}

.tooltip-container.left .tooltip-text::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #222;
}

.tooltip-container.right .tooltip-text {
  left: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-container.right:hover .tooltip-text {
  transform: translateY(-50%) translateX(4px);
}

.tooltip-container.right .tooltip-text::after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent #222 transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
